            
                <div class="dropdown">
                    <a role="button" data-toggle="dropdown" class="btn btn-warning btn-sm"
                        data-target="#3970" href="/category/3970" id="menu3970">
                        Игрушки и игровые комплексы  <span class="caret"></span> 
                    </a>
                    
                    <ul class="dropdown-menu">
                        
                            
                                <li><a tabindex="-1" href="/category/4074/Konstruktory">Конструкторы</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4075/Roboty_i_transformery">Роботы и трансформеры</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4076/Mjagkie_igrushki">Мягкие игрушки</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4077/Igrovye_nabory">Игровые наборы</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4078/Naduvnye_igrushki">Надувные игрушки</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4079/Hranenie_igrushek">Хранение игрушек</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/5263/Elektromobili">Электромобили</a></li>
                            
                        
                    </ul>
                    
                </div>
            
                <div class="dropdown">
                    <a role="button" data-toggle="dropdown" class="btn btn-warning btn-sm"
                        data-target="#3971" href="/category/3971" id="menu3971">
                        Товары для мам и малышей  <span class="caret"></span> 
                    </a>
                    
                    <ul class="dropdown-menu">
                        
                            
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="/category/4230/Tovary_dlja_mam">Товары для мам</a>
                                    <ul class="dropdown-menu">
                                        
                                            <li><a href="/category/4431/Gigiena_i_kosmetika">Гигиена и косметика</a></li>
                                        
                                            <li><a href="/category/4432/Podushki_dlja_beremennyh_i_kormjaschih">Подушки для беременных и кормящих</a></li>
                                        
                                            <li><a href="/category/4433/Bel&#39;e">Белье</a></li>
                                        
                                            <li><a href="/category/4434/Molokootsosy">Молокоотсосы</a></li>
                                        
                                            <li><a href="/category/4435/Nakladki_dlja_grudnogo_vskarmlivanija">Накладки для грудного вскармливания</a></li>
                                        
                                    </ul>
                                </li>
                            
                        
                    </ul>
                    
                </div>
            
                <div class="dropdown">
                    <a role="button" data-toggle="dropdown" class="btn btn-warning btn-sm"
                        data-target="#3972" href="/category/3972" id="menu3972">
                        Обучение и творчество  <span class="caret"></span> 
                    </a>
                    
                    <ul class="dropdown-menu">
                        
                            
                                <li><a tabindex="-1" href="/category/4124/Nabory_dlja_issledovanij">Наборы для исследований</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4125/Mikroskopy_i_teleskopy">Микроскопы и телескопы</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4126/Obuchajuschie_materialy_i_avtorskie_metodiki">Обучающие материалы и авторские методики</a></li>
                            
                        
                    </ul>
                    
                </div>
            
                <div class="dropdown">
                    <a role="button" data-toggle="dropdown" class="btn btn-warning btn-sm"
                        data-target="#3973" href="/category/3973" id="menu3973">
                        Детская комната  <span class="caret"></span> 
                    </a>
                    
                    <ul class="dropdown-menu">
                        
                            
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="/category/4115/Mebel&#39;_dlja_malyshej">Мебель для малышей</a>
                                    <ul class="dropdown-menu">
                                        
                                            <li><a href="/category/4261/Krovatki">Кроватки</a></li>
                                        
                                            <li><a href="/category/4262/Kolybeli_i_ljul&#39;ki">Колыбели и люльки</a></li>
                                        
                                            <li><a href="/category/4263/Komody">Комоды</a></li>
                                        
                                            <li><a href="/category/4264/Pelenal&#39;nye_stoliki">Пеленальные столики</a></li>
                                        
                                            <li><a href="/category/4265/Manezhi">Манежи</a></li>
                                        
                                            <li><a href="/category/4266/Stul&#39;chiki_dlja_kormlenija">Стульчики для кормления</a></li>
                                        
                                            <li><a href="/category/4267/Kacheli,_shezlongi">Качели, шезлонги</a></li>
                                        
                                            <li><a href="/category/4268/Hodunki,_prygunki">Ходунки, прыгунки</a></li>
                                        
                                            <li><a href="/category/4269/Matrasy_dlja_ljulek_i_koljasok">Матрасы для люлек и колясок</a></li>
                                        
                                            <li><a href="/category/4270/Pokryvala,_podushki,_odejala">Покрывала, подушки, одеяла</a></li>
                                        
                                            <li><a href="/category/4271/Postel&#39;noe_bel&#39;e">Постельное белье</a></li>
                                        
                                            <li><a href="/category/4272/Mobili_i_podveski">Мобили и подвески</a></li>
                                        
                                    </ul>
                                </li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4116/Gotovye_detskie">Готовые детские</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4117/Party_i_stul&#39;ja">Парты и стулья</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4118/Detskie_matrasy">Детские матрасы</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4119/Postel&#39;noe_bel&#39;e">Постельное белье</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4120/Radio-_i_videonjani">Радио- и видеоняни</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4121/Zaschita_i_bezopasnost&#39;">Защита и безопасность</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4122/Hranenie_igrushek">Хранение игрушек</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4123/Ochistiteli_i_uvlazhniteli_vozduha">Очистители и увлажнители воздуха</a></li>
                            
                        
                    </ul>
                    
                </div>
            
                <div class="dropdown">
                    <a role="button" data-toggle="dropdown" class="btn btn-warning btn-sm"
                        data-target="#3974" href="/category/3974" id="menu3974">
                        Спортивные товары  <span class="caret"></span> 
                    </a>
                    
                    <ul class="dropdown-menu">
                        
                            
                                <li><a tabindex="-1" href="/category/4311/Velosipedy">Велосипеды</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4312/Samokaty">Самокаты</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4313/Rolikovye_kon&#39;ki">Роликовые коньки</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4314/Trehkolesnye_velosipedy">Трехколесные велосипеды</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4315/Batuty">Батуты</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4316/Begovely">Беговелы</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4317/Igrovye_kompleksy_i_gorki">Игровые комплексы и горки</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4318/Sportivnye_igry_i_igrushki">Спортивные игры и игрушки</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4319/Mjachi">Мячи</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4320/Skakalki">Скакалки</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4321/Frisbi">Фрисби</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4322/Rjukzaki">Рюкзаки</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4323/Sanki_i_snegokaty">Санки и снегокаты</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4324/Kon&#39;ki">Коньки</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4325/Begovye_lyzhi">Беговые лыжи</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4326/Gornye_lyzhi">Горные лыжи</a></li>
                            
                        
                    </ul>
                    
                </div>
            
                <div class="dropdown">
                    <a role="button" data-toggle="dropdown" class="btn btn-warning btn-sm"
                        data-target="#3975" href="/category/3975" id="menu3975">
                        Книги, музыка, видео  <span class="caret"></span> 
                    </a>
                    
                    <ul class="dropdown-menu">
                        
                            
                                <li><a tabindex="-1" href="/category/4156/Fil&#39;my">Фильмы</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4157/Mul&#39;tfil&#39;my">Мультфильмы</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4158/Muzyka_dlja_detej">Музыка для детей</a></li>
                            
                        
                    </ul>
                    
                </div>
            
                <div class="dropdown">
                    <a role="button" data-toggle="dropdown" class="btn btn-warning btn-sm"
                        data-target="#3976" href="/category/3976" id="menu3976">
                        Детская одежда и обувь  <span class="caret"></span> 
                    </a>
                    
                    <ul class="dropdown-menu">
                        
                            
                                <li><a tabindex="-1" href="/category/4183/Obuv&#39;_dlja_malyshej">Обувь для малышей</a></li>
                            
                        
                    </ul>
                    
                </div>
            
                <div class="dropdown">
                    <a role="button" data-toggle="dropdown" class="btn btn-warning btn-sm"
                        data-target="#3977" href="/category/3977" id="menu3977">
                        Аксессуары  <span class="caret"></span> 
                    </a>
                    
                    <ul class="dropdown-menu">
                        
                            
                                <li><a tabindex="-1" href="/category/4373/Naruchnye_chasy">Наручные часы</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4374/Rantsy,_rjukzaki,_sumki">Ранцы, рюкзаки, сумки</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4375/Chemodany">Чемоданы</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4376/Zonty">Зонты</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4377/Solntsezaschitnye_ochki">Солнцезащитные очки</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4378/Perchatki_dlja_devochek">Перчатки для девочек</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4379/Perchatki_dlja_mal&#39;chikov">Перчатки для мальчиков</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4380/Golovnye_ubory_dlja_devochek">Головные уборы для девочек</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4381/Golovnye_ubory_dlja_mal&#39;chikov">Головные уборы для мальчиков</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4382/Sharfy_dlja_devochek">Шарфы для девочек</a></li>
                            
                        
                            
                                <li><a tabindex="-1" href="/category/4383/Sharfy_dlja_mal&#39;chikov">Шарфы для мальчиков</a></li>
                            
                        
                    </ul>
                    
                </div>
            
