     <div class="header">
        <a href='/'><img src='/static/images/logo.png'></a>
        <div class="signin">
            <button type="button" class="btn btn-default navbar-btn">Регистрация</button>
            <button type="button" class="btn btn-default navbar-btn" id='modal-launcher' data-toggle="modal" data-target="#login-modal">Войти</button>
       
        </div>
    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid upper-menu">
            <ul class="nav navbar-nav">
		    
	    </ul>
	</div>
    </nav>
