<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <meta name=“robots” content=“noindex,nofollow”>

        <title>Child adventure</title>

        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/w3.css" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">

        <script src="/static/js/jquery-3.1.0.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/main.js"></script>
	{% block head %}

	{% endblock %}
    </head>
<body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter40397695 = new Ya.Metrika({
                    id:40397695,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/40397695" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-86175266-1', 'auto');
  ga('send', 'pageview');

</script>
 
    <div class="container maximum-width">
        <div class="row btn-group-justified">
            {% for category in categories %}
                <div class="dropdown">
                    <a role="button" data-toggle="dropdown" class="btn btn-warning btn-sm"
                        data-target="#{{ category.id }}" href="/category/{{ category.id }}" id="menu{{ category.id }}">
                        {{ category.title }} {% if category.has_children %} <span class="caret"></span> {% endif %}
                    </a>
                    {% if category.has_children %}
                    <ul class="dropdown-menu">
                        {% for subcategory in category.children %}
                            {% if subcategory.has_children %}
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="/category/{{ subcategory.id }}/{{ subcategory.url }}">{{ subcategory.title }}</a>
                                    <ul class="dropdown-menu">
                                        {% for sub2cat in subcategory.children %}
                                            <li><a href="/category/{{ sub2cat.id }}/{{ sub2cat.url }}">{{ sub2cat.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}
                                <li><a tabindex="-1" href="/category/{{ subcategory.id }}/{{ subcategory.url }}">{{ subcategory.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    {% block content %}

    {% endblock %}
</body>
</html>
